<!-- Page Title -->
<div class="container-fluid page-title">
	<div class="row">
		<div class="col-xs-12">
			<h2>{{ product.singleProduct.name }}</h2>
			<h6 class="category"><a ui-sref="categories">{{ product.singleProduct.category }}</a></h6> <!-- Would link to product listing limited to this category -->
		</div>
	</div>
</div>
<!-- /.page-title -->

<!-- Categories -->
<div class="container single-product">
	<!-- Product -->
	<div class="row">
			<div class="col-xs-12 col-sm-6 img-block">
				<img class="item-image" ng-src="{{ product.singleProduct.image }}">
				<button>Add to Cart</button>
			</div>
			<div class="col-xs-12 col-sm-6 content-block">
				<h3>Description</h3>
				<p class="item-description">
					{{ product.singleProduct.description }}
				</p>
			</div>
	</div>
	<!-- product -->
</div>
<!-- /.categories -->

<!-- Call To Action -->
<div class="container-fluid page-cta">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 offset-md-2">
				<a ui-sref="products"><button>View All Products</button></a>
			</div>
		</div>
	</div>
</div>
<!-- /.page-cta -->
