<!-- Tagline -->
<div class="container-fluid tagline">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="tagline-phrase">injected humour and the like</h2>
		</div>
	</div>
</div>
<!-- /.tagline -->

<!-- Featured Item -->
<div class="container featured-item">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="section-title">Featured Item of the Week</h3>
			<div class="title-underline"></div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-4">
			<a ui-sref="product({id: product.id})">
				<img class="item-image" ng-src="{{ products.featuredProduct.image }}">
			</a>
		</div>
		<div class="col-xs-12 col-sm-9 col-md-8">
			<h5 class="item-title"><a ui-sref="product({id: product.id})">{{ products.featuredProduct.name }}</a></h5>
			<h6 class="category"><a ui-sref="categories">{{ products.featuredProduct.category }}</a></h6>
			<p class="item-description">
				{{ products.featuredProduct.description }}
			</p>
			<a ui-sref="product({id: product.id})"><button class="view-product">View Product</button></a>
		</div>
	</div>
</div>
<!-- /.featured-item -->

<!-- Call To Action / Search -->
<div class="container-fluid page-cta search">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 offset-md-2">
				<h3>Search Our Products</h3>
				<form>
					<input type="text" class="search-input" name="search" placeholder="Search products...">
					<button type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /.search -->
