header {
	background-color: $color-alt-background;
	color: $color-background;
	padding: 22px 0;

	.logo {
		width: 50%;
		font-size: 1.2em;
		text-transform: uppercase;
		padding-top: 4px;
		margin: 0;
		float: left;
	}

	.navigation {
		width: 50%;
		text-align: right;
		list-style: none;
		margin: 0;
		float: right;

		li {
			display: inline-block;
			padding-left: 20px;
		}
	}
}
